.cointainer {
    font-size: 40px;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid rgb(9, 107, 220);
    position: absolute;
    top: calc(50% - 150px);
    right: calc(50% - 200px);
    background-color: rgb(237, 141, 14);
    width: 400px;
    height: 300px;
}

.btn {
    background: linear-gradient(to bottom, #83e109, #5563c1);
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}

.btn:hover {
    background: linear-gradient(to bottom, #5563c1, #6371c7);
    top: 2px;
}